/* Sección de datos para el comprador en el Index, debajo del texto de presentación */

@import "valores";

.datos {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20vw 20vw 20vw;
    margin-top: $margen-texto * 2;

        .datos-imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10%; }

        .datos-titulo {
            font-size: map-get($titulo, fuente);
            margin-top: map-get($titulo, margen-superior);
            margin-bottom: map-get($titulo, margen-inferior);
            justify-content: left; }

        .texto {
            @include texto-para-index; 
        }
              
        .icono {
            width: map-get($icono, ancho);
            height: map-get($icono, alto); 
        }

        .datos-texto {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 2vw;
                    
                &:hover {
                    background-color: #ff8b52;
                    color: white;
                    transition: 0.5s; }
                
                }
}
